<div class="container-fluid home-index">
	<div class="row">
		<header class="col-xs-12">
			<h1 id="title"><span id="fit">FIT</span>racker</h1>
			<p id="intro-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at venenatis enim. Cras tempus, ex ac vulputate varius.</p>
		</header>
	</div>
	<div class="row">
		<div class="btns-wrapper">
			<div class="col-xs-12">
				<button class="btn btn-default"><%= link_to 'Sign In', new_user_session_path %></button>
			</div>
			<div class="col-xs-12">
				<button class="btn btn-default"><%= link_to 'Sign Up', new_user_registration_path %></button>
			</div>
		</div>
	</div>
</div>