<div class="home-index">
	<div class="row">
		<header class="col-xs-12">
			<h1 class="main-title"><span id="fit">FIT</span>racker</h1>
			<p id="intro-copy">A community for people with active, healthy lifestyles or striving to achieve one, to openly share with each other.</p>
		</header>
	</div>
	<div class="row">
		<div class="btns-wrapper">
			<%= link_to 'Sign In', new_user_session_path, class: "btn btn-default" %>
			<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default" %>
		</div>
	</div>
</div>