	

	<!-- users_interests = @user_interests.map{|interest| interest.name}
	users_interests.include?()
 -->	<div class="interests-wrapper">
		<div class="row interests-form">
			<%= form_tag(users_interests_path, method: :post) do %>
				<ul class="interests-list">
				  <% @interests.each do |interest| %>
				      <li>
				        <%= check_box_tag 'interests[]', interest.id, UserInterest.include  %>
				        <%= interest.name %>
				      </li>
				  <% end %>
				</ul>
				<%= submit_tag "Save Changes", class: "btn btn-default interestsBtn" %>
			<% end %>
		</div>
	</div>
	
</div>