<div class="interests-bkimg">
	<div class="interests-copy-wrapper">
		<p class="interests-copy">Now let's build up your profile, <br>please select what you're interested in below!</p>
	</div>
</div>
<div class="interests-wrapper">	

	<div class="interests-form">
		<%= form_tag(users_interests_path, method: :post) do %>
			<ul class="interests-list">
			  <% @interests.each do |interest| %>
			      <li>
			        <%= check_box_tag 'interests[]', interest.id %>
			        <%= interest.name %>
			      </li>
			  <% end %>
				<%= submit_tag "Save", class: "btn btn-default interestsBtn" %>
			</ul>
		<% end %>
	</div>
	
</div>