<h1 class="title"><a href="/"><span id="fit">FIT</span>racker</a></h1>

<div class="row edit_user_goals">
	<h1 class="header edit-goal-header">Edit Goal</h1>
	<p class="delete-post"><%= link_to 'Cancel', user_goals_user_path(@goal.user) %> | <%= link_to 'Delete Goal', goal_path(@goal), method: :delete, data: { confirm: "Are you sure you want to delete this goal?" } %></p>
	<div class="goal-form">	
		<%= render 'form' %>
	</div>
</div>