<div class="goal-wrapper">	
	<div class="row goal-form">	
		<%= form_for @goal do |f| %>
			<% if @goal.errors.any? %>
				<ul>
					<% @goal.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			<% end %>

			<%= f.text_area :body, placeholder: "What is your goal...", class: "form-control goal-body-input" %>
			<%= f.submit 'Save', class: "btn btn-default goalsBtn" %>
		<% end %>
	</div>
</div>