<h1 class="title"><a href="/"><span id="fit">FIT</span>racker</a></h1>

<div class="goal-wrapper">
	<h3 class="goal-copy">Create a Goal</h3>
	<p>Anything that can be accomplished in a day to a year, and we'll help you get there!</p>
	<div class="row goal-form">	
		<%= render 'form' %>
	</div>
</div>