$font-family: 'Open Sans';
$secondary-font-family: 'Raleway';
$primary-color: #fff;
$secondary-color: #94ADCC;
$tertiary-color: #485463;
$primary-background-color: #485463;
$secondary-background-color: #DDE1DC;
$tertiary-background-color: #FFD100;
$quaternary-background-color: #EAEBEA;

/****************************************************
GENERAL
*****************************************************/

body{
	font-family: $font-family;
	margin: 0;
	padding: 0;
}

.heading{
	text-align: center;
	font-size: 1.8em;
}

.header{
	font-family: $secondary-font-family;
	margin: 10px 0;
}

.title{
	text-align: center;
	font-size: 2em;
	padding: 5px 0;
	margin: 0;
	font-family: 'Montserrat Subrayada', sans-serif;
	background-color: $primary-background-color;
	a{
		color: $primary-color;
	}
	#fit{
		font-size: 1.2em;
	}
}

a{
	text-decoration: none;	
	color: $tertiary-color;
}

a:hover{
	text-decoration: none;
	color: $secondary-color;
}	

hr{
	color: #000;
	height: 2px;
}

.menu-bars{
	position: absolute;
	right: 5px;
	top: 5px;
	color: $primary-color;
}

.menu-bars:hover{
	color: $secondary-color;
}

.explore-nav{
	width: 100%;
	ul{
		list-style: none;
		text-align: left;
		padding: 10px 10px;
		margin: 0;
		li{
			margin-bottom: 10px;
			padding-left: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #aaa;
			font-size: 1.5em;
			font-family: $secondary-font-family;
			a{
				color: $primary-color;
			}
			a:hover{
				color: $secondary-color;
			}
		}
	}
}

%buttons{
	height: 30px;
	width: 100%;
	max-width: 400px;
	padding-top: 5px;
	background-color: $tertiary-background-color;
	border: none;
	color: $tertiary-color;
}

%buttons:hover{
	color: $primary-color;
}

/****************************************************
PAGE - ROOT
*****************************************************/

.home-index{
	background: url('running-silhouette-lg-opacity4.jpg') no-repeat top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 760px;
}

.notice, .alert{
	position: absolute;
}

.main-title{
	text-align: center;
	font-size: 3em;
	margin-top: 100px;
	font-family: 'Montserrat Subrayada', sans-serif;
	color: $tertiary-color;
	#fit{
		font-size: 1.2em;
	}
}

#intro-copy{
	font-family: $font-family;
	width: 290px;
	margin: 0 auto;
	text-align: center;
}

.btns-wrapper{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	padding-top: 100px;
	.btn, .btn-default{
		display: block;
		width: 180px;
		height: 50px;
		margin: 0 auto 15px;
		background-color: $quaternary-background-color;
	}
}

/****************************************************
PAGE - SIGN IN
*****************************************************/

.sign-in-bkimg{
	background: url('cycling.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px;
	.signin-title{
		@extend .main-title;
		margin: 0;
		padding-top: 290px;
		font-size: 3em;
		a {
			color: $tertiary-color;
		}
		a:hover{
			color: $secondary-color;
		}
	}
}

.sign-in-form{
	width: 80%;
	margin: 40px auto;
	.field{
		max-width: 400px;
		margin: 0 auto 10px;
	}
	.signinBtn-links{
		margin: 0 auto;
		.actions{
			.signinBtn{
				@extend %buttons;
			}
		}
	}
}

/****************************************************
PAGE - SIGN UP
*****************************************************/

.sign-up-bkimg{
	background: url('fitness-kicking.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px;
 	.signup-heading{
 		margin-top: 0;
 		padding-top: 300px;
 		padding-left: 15px;
 		color: #fff;
 		font-family: $secondary-font-family;
 		font-size: 2.5em;
 		text-align: left;
 	}
}

.sign-up-form{
	@extend .sign-in-form;
	margin-top: 0px;
	.signup-view1{
		width: 100%;
		margin: 40px auto 0;
		.continueBtn{
			@extend %buttons;
			margin: 10px 0;
		}
	}
	.signup-view2{
		@extend .signup-view1;
		display: none;
		#user_bio{
			height: 100px;
		}
	}
}

#signin-link{
	width: 100%;
	margin: 0 auto;
}



/****************************************************
PAGE - INTERESTS FORM
*****************************************************/

.interests-bkimg{
	background: url('starting-blocks.jpg') no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px;
  .interests-copy-wrapper{
  	background-color: rgba(255, 255, 255, 0.5);
  	position: absolute;
  	height: 90px;
  	width: auto;
  	top: 255px;
	  .interests-copy{
	  	padding: 3px 15px;
	 		color: $primary-color;
	 		font-family: $secondary-font-family;
	 		font-size: 1.5em;
	 		text-align: left;
		}
	}
}

.interests-wrapper{
	padding: 0;
	margin: 0;
	width: 100%;
	.interests-form{
		width: 95%;
		margin: 0 auto;
		.interests-list{
			list-style: none;
			padding-left: 0;
			width: 95%;
			margin: 30px auto 0;
			#interest_names_{
				margin: 5px 10px 0 0;
				height: 20px;
				padding: 0;
			}
			li {
				display: inline-block;
				width: 110px;
				height: 30px;
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 20px;
				border: 1px solid #ccc;
				border-radius: 8px;
				padding: 5px 0 5px 5px;
				font-size: 0.8em;
				text-align: left;
			}
			li:nth-child(4n) {
				clear: left;
			}
		}
		.interestsBtn{
			@extend %buttons;
		}
	}
} //.interests-wrapper //


/****************************************************
PAGE - NEW GOAL
*****************************************************/
.goal-wrapper{
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	.goal-copy{

	}
	.goal-form{
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		margin-top: 20px;
		.goal-body-input{
			height: 100px;
			margin-bottom: 5px;
		}
		.form-label{
			font-size: 0.9em;
		}
		#goal_timeline{
			margin-left: 5px;
			margin-bottom: 15px;
			font-size: 0.8em;
		}
		.skip-goal{
			float: right;
			margin-top: 20px;
			margin-right: 5px;
		}
		.goalsBtn{
			@extend %buttons;
		}
	}
}



/****************************************************
PAGE - USER PUBLIC PROFILE
*****************************************************/

.user_wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	.bio-wrapper{
		width: 100%;
		background-color: $primary-background-color;
		margin: 0;
		padding: 0;
		color: $primary-color;
		.profile-bio{
			width: 90%;
			margin: 0 auto;
			padding: 20px 0 10px;
			.profile-pic{
				.profile-image{
					float: left;
					width: 30%;
					border: 4px solid #fff;
					border-radius: 5px;
				}
			}
			.user-info{
				float: left;
				width: 60%;
				margin-left: 15px;
				.user_name{
					margin: 0 0 5px;
					font-size: 1.5em;
				}	
				.location{

				}
			}
		}
		.user-bio{
			width: 90%;
			margin: 0 auto;
			padding-bottom: 10px;
			font-size: 0.95em;
		}
	}
	.user-nav{
		width: 100%;
		margin: 0 auto;
		background-color: $quaternary-background-color;
		ul{
			list-style: none;
			padding-left: 0;
			width: 100%;
			margin: 0 auto;
			li{
				display: inline-block;
				width: 49.6%;
				text-align: center;
				padding: 5px 0;
				a{
					color: $primary-background-color;
				}
			}
			.active{
				background-color: $tertiary-background-color;
				a {
					color: $primary-background-color;
				}
			}
		}
	}
	.user-posts-section{
		.user_posts{
			width: 90%;
			margin: 20px auto;
			.post_body{
				width: 100%;
				height: 60px;
				margin: 0 auto;
				padding: 3px;
				border-radius: 5px 5px 0 0;
			}
			.post_tag{
				width: 100%;
				height: 25px;
				font-size: 0.8em;
				padding: 3px;
				margin-bottom: 5px;
				border-radius: 0 0 5px 5px;
				border-top: none;
			}
			.add-image-btn{
				height: 20px;
				font-size: 0.8em;
				padding: 2px 4px;
				display: inline-block;
				margin-bottom: 10px;
			}
			.add-video-btn{
				@extend .add-image-btn;
			}
			.choose-file-btn{
				display: none;
				.post-avatar{
					display: inline-block;
					margin-top: 4px;
				}
			}
			.choose-vid-file{
				display: none;
				.embed-video{
					display: block;
					font-size: 0.8em;
					margin-top: 5px;
					width: 300px;
					height: 20px;
					border-radius: 3px;
					border: 1px solid #bbb;
				}
			}
			.postBtn{
				display: block;
				width: 70px;
				height: 25px;
				padding-top: 3px;
			}
		}
		.user_posts_list{
			.post-user-avatar{
				display: inline-block;
				max-width: 50px;
				max-height: 50px;
			}
			.post-info{
				display: inline-block;
				margin-left: 5px;
				font-size: 0.8em;
				.post-author{
					margin: 0;
				}
				.post-created{
					margin: 0;
				}
			}
			list-style: none;
			width: 90%;
			.user_post_body{
				margin: 10px 0;
			}
			.user_post_tag{
				margin: 10px 0;
			}
			.user_post_image{
				.post-image{
					width: 100%;
				}
			}
			.user_post_video{

			}
			.edit_user_post{
				text-align: right;
				margin-top: 10px;
				.comments{
				}
			}
		}
	}
}

/****************************************************
PAGE - EDIT USER POSTS 
*****************************************************/

.edit_user_posts{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	.edit-post-header{
		display: inline-block;
	}
	.delete-post{
		display: inline-block;
		margin-left: 150px;
	}
	.post_body{
		width: 100%;
		height: 200px;
		margin: 0 auto;
		padding: 3px;
		border-radius: 5px 5px 0 0;
	}
	.post_tag{
		width: 100%;
		height: 25px;
		font-size: 0.8em;
		padding: 3px;
		margin-bottom: 5px;
		border-radius: 0 0 5px 5px;
		border-top: none;
	}
	.add-image-btn{
		height: 20px;
		font-size: 0.8em;
		padding: 2px 4px;
		display: inline-block;
	}
	.add-video-btn{
		@extend .add-image-btn;
	}
	.choose-file-btn{
		display: none;
		.post-avatar{
			display: inline-block;
			margin-top: 4px;
		}
	}
	.choose-vid-file{
		display: none;
		.embed-video{
			display: block;
			font-size: 0.8em;
			margin-top: 5px;
			width: 300px;
			height: 20px;
			border-radius: 3px;
			border: 1px solid #bbb;
		}
	}
	.postBtn{
		@extend %buttons;
		margin-top: 10px;
	}

}


/****************************************************
PAGE - SHOW POSTS
*****************************************************/

.show-posts-wrapper{
	width: 90%;
	margin: 20px auto 0;
	.post-user-avatar{
		display: inline-block;
		max-width: 80px;
		max-height: 80px;
	}
	.post-info{
		display: inline-block;
		margin-left: 5px;
		vertical-align: top;
		font-size: 0.8em;
		.post-author{
			margin: 0;
		}
		.post-created{
			margin: 0;
		}
	}
	list-style: none;
	width: 90%;
	.user_post_body{
		margin: 10px 0;
	}
	.user_post_tag{
		margin: 10px 0;
	}
	.user_post_image{
		.post-image{
			width: 100%;
		}
	}
	.user_post_video{

	}
	.edit_user_post{
		text-align: right;
		margin-top: 10px;
	}
	.comments-section{
		.comments-list{
			background-color: $quaternary-background-color;
			padding: 8px 8px 0;
			border-radius: 5px;
			list-style: none;
			.comment-user-avatar{
				max-width: 40px;
				max-height: 40px;
			}
			.comment-info{
				display: inline-block;
				margin: 5px 5px 0;
				vertical-align: top;
				font-size: 0.8em;
				line-height: 0.6;
			}
			.comment-body{
				margin-top: 10px;
				font-size: 0.9em;
			}
			.comments-divider{
				height: 1px;
				background-color: #fff;
				margin: 10px 0;
			}
			.edit_user_comment{
				font-size: 0.8em;
				text-align: right;
			}
		}
	}
	.post-comment-btn{
		@extend %buttons;
		margin: 10px 0;
	}
}


/****************************************************
PAGE - USER GOALS
*****************************************************/

.user-goals{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	.user-goals-list{
		list-style: none;
		padding-left: 0;
		li{
			
		}
		.goal-created{
		}
		.goal-body{
			font-size: 1.35em;
		}
		.update-progress{

		}
		.edit-goal-link{
			text-align: right;
			font-size: 0.8em;
		}
	}
}

.add-goals{
	width: 90%;
	margin: 0 auto;
	.plus{
		font-size: 2em;
	}
	.add-goal-btn{
		display: inline-block;
		font-size: 1em;
		width: 100px;
		height: 35px;
		margin-left: 10px;
		vertical-align: 5px;
	}
	.user-goals-form{
		display: none;
		width: 100%;
		margin: 0 auto;
		.goal-body-input{

		}
		.form-label{

		}
		#goal_timeline{
			margin-left: 5px;
			margin-bottom: 15px;
			font-size: 0.8em;
		}
		.skip-goal{
			display: none;
		}
		.goalsBtn{
			@extend %buttons;
			margin-top: 10px;
		}
	}
}

.modal-dialog{
	text-align: center;
	border-radius: 5px;
	margin-top: 50%;
	h4{
		width: 90%;
		padding: 10px 0;
		border-bottom: 1px solid #aaa;
		margin: 0 auto;
		line-height: 1.5;
	}
	.close-modal{
		position: absolute;
		top: 0;
		right: 5px;
		font-size: 1.5em;
	}
}


/****************************************************
PAGE - EDIT USER GOALS
*****************************************************/

.edit_user_goals{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	.edit-goal-header{
		display: inline-block;
	}
	.delete-post{
		display: inline-block;
		margin-left: 150px;
	}
	.goal-body-input{
		width: 100%;
		height: 200px;
		margin: 0 auto 5px;
		padding: 3px;
		border-radius: 5px;
	}
	.form-label{

	}
	#goal_timeline{
		margin-left: 5px;
		margin-bottom: 15px;
		font-size: 0.8em;
	}
	.skip-goal{
		display: none;
	}
	.goalsBtn{
		@extend %buttons;
		margin-top: 10px;
	}
}

/****************************************************
PAGE - HOME
*****************************************************/

.user-show-title{
	font-size: 2em;
	padding-top: 5px;
	padding-bottom: 15px;
	margin: 0;
	background-color: $primary-background-color;
}

.user-index-wrapper{
	width: 100%;
	margin: 0 auto;
	background-color: $primary-background-color;
	.user-feed{
		width: 95%;
		max-width: 530px;
		margin: 0 auto;
		background-color: #fff;
		padding: 10px;
		border-radius: 5px;
		.post-user-avatar{
			display: inline-block;
			max-width: 50px;
			max-height: 50px;
		}
		.post-info{
			display: inline-block;
			margin-left: 5px;
			font-size: 0.8em;
			.post-author{
				margin: 0;
			}
			.post-created{
				margin: 0;
			}
		}
		.user_post_body{
			margin-top: 10px;
		}
		.user_post_tag{
			margin-bottom: 10px;
		}
		.post-image{
			width: 100%;
		}
	}
}

/****************************************************
PAGE - EXPLORE (INTERESTS)
*****************************************************/

.explore-container{
	background-color: $primary-background-color;
	height: 800px;
}

.explore-title{
	font-size: 2em;
	padding-top: 5px;
	margin: 0;
}

.user-interests{
	width: 95%;
	margin: 40px auto 0;
	.user-interests-list{
		list-style: none;
		padding-left: 0;
		li{
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

#accordian {
	background: $primary-background-color;
	width: 100%;
	color: $quaternary-background-color;
	/*Some cool shadow and glow effect*/
}
/*heading styles*/
#accordian h3 {
	line-height: 50px;
	font-size: 1.5em;
	font-family: $secondary-font-family;
	padding: 0 10px;
	margin: -20px 0;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: linear-gradient(#FFD100, #C28D00);
}

#accordian ul{
	padding: 0;
}

/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li{
	color: $tertiary-color;
	text-decoration: none;
	font-size: 1em;
	text-align: left;
	line-height: auto;
	display: block;
	padding: 20px 0 0;
	margin: 20px 0;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
	background-color: #fff;

}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

.interest-post-feed{
	list-style: none;
	padding-left: 0;
	.interest-post{
		width: 100%;
		.post-user-avatar{
			max-height: 50px;
			max-width: 50px;
			display: inline-block;
			margin-left: 20px;
		}
		.post-info{
			display: inline-block;
			margin-left: 10px;
			font-size: 0.8em;
			line-height: 0.7;
			.post-author{
				
			}
			.post-created{

			}
		}
		.user_post_body{
			margin: 10px 0 0px 20px;

		}
		.user_post_tag{
			margin: 10px 0 0px 20px;
		}
		.post-image{
			width: 100%;
		}
	}
}






























