body {
  background: lightblue; }

.signout {
  float: right;
  margin-right: 15px; }

#title {
  text-align: center;
  font-size: 4em;
  margin-top: 100px; }

.btns-wrapper {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-top: 100px; }
  .btns-wrapper .btn, .btns-wrapper .btn-default {
    display: block;
    width: 100px;
    margin: 0 auto 15px; }

/****************************************************
SIGN IN PAGE
*****************************************************/
.sign-in-form, .sign-up-form {
  width: 200px;
  margin: 0 auto; }
  .sign-in-form .field, .sign-up-form .field {
    margin-bottom: 10px; }
  .sign-in-form .signinBtn, .sign-up-form .signinBtn {
    height: 25px;
    padding-top: 2px; }

/****************************************************
SIGN UP PAGE
*****************************************************/
