/****************************************************
GENERAL
*****************************************************/
body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0; }

.heading {
  text-align: center;
  font-size: 1.8em; }

.header {
  font-family: "Raleway";
  margin: 10px 0; }

.title {
  text-align: center;
  font-size: 2em;
  padding: 5px 0;
  margin: 0;
  font-family: 'Montserrat Subrayada', sans-serif;
  background-color: #485463; }
  .title a {
    color: white; }
  .title #fit {
    font-size: 1.2em; }

a {
  text-decoration: none;
  color: #485463; }

a:hover {
  text-decoration: none;
  color: #94adcc; }

hr {
  color: #000;
  height: 2px; }

.menu-bars {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white; }

.menu-bars:hover {
  color: #94adcc; }

.explore-nav {
  width: 100%; }
  .explore-nav ul {
    list-style: none;
    text-align: left;
    padding: 10px 10px;
    margin: 0; }
    .explore-nav ul li {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #aaa;
      font-size: 1.5em; }
      .explore-nav ul li a {
        color: white; }
      .explore-nav ul li a:hover {
        color: #94adcc; }
      .explore-nav ul li .menu-icon {
        color: white;
        margin-right: 15px;
        font-size: 1.5em; }
      .explore-nav ul li .profile-icon {
        margin-left: 4px;
        margin-right: 17px; }
      .explore-nav ul li .logout-icon {
        margin-left: 6px;
        margin-right: 10px; }

.sign-in-form .signinBtn-links .actions .signinBtn, .sign-up-form .signinBtn-links .actions .signinBtn, .sign-up-form .signup-view1 .continueBtn, .sign-up-form .signup-view2 .continueBtn, .interests-wrapper .interests-form .interestsBtn, .goal-wrapper .goal-form .goalsBtn, .edit_user_posts .postBtn, .add-goals .user-goals-form .goalsBtn, .edit_user_goals .edit-goalsBtn {
  height: 30px;
  width: 100%;
  max-width: 400px;
  padding-top: 5px;
  background-color: #ffd100;
  border: none;
  color: #485463; }

.sign-in-form .signinBtn-links .actions .signinBtn:hover, .sign-up-form .signinBtn-links .actions .signinBtn:hover, .sign-up-form .signup-view1 .continueBtn:hover, .sign-up-form .signup-view2 .continueBtn:hover, .interests-wrapper .interests-form .interestsBtn:hover, .goal-wrapper .goal-form .goalsBtn:hover, .edit_user_posts .postBtn:hover, .add-goals .user-goals-form .goalsBtn:hover, .edit_user_goals .edit-goalsBtn:hover {
  color: white; }

/****************************************************
PAGE - ROOT
*****************************************************/
.home-index {
  background: url("running-silhouette-lg-opacity4.jpg") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 760px; }

.notice, .alert {
  position: absolute; }

.main-title, .sign-in-bkimg .signin-title {
  text-align: center;
  font-size: 3em;
  margin-top: 100px;
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #485463; }
  .main-title #fit, .sign-in-bkimg .signin-title #fit {
    font-size: 1.2em; }

#intro-copy {
  font-family: "Open Sans";
  width: 290px;
  margin: 0 auto;
  text-align: center; }

.btns-wrapper {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-top: 100px; }
  .btns-wrapper .btn, .btns-wrapper .btn-default {
    display: block;
    width: 180px;
    height: 50px;
    margin: 0 auto 15px;
    background-color: #f5f6f5; }

/****************************************************
PAGE - SIGN IN
*****************************************************/
.sign-in-bkimg {
  background: url("cycling.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px; }
  .sign-in-bkimg .signin-title {
    margin: 0;
    padding-top: 290px;
    font-size: 3em; }
    .sign-in-bkimg .signin-title a {
      color: #485463; }
    .sign-in-bkimg .signin-title a:hover {
      color: #94adcc; }

.sign-in-form, .sign-up-form {
  width: 80%;
  margin: 40px auto; }
  .sign-in-form .field, .sign-up-form .field {
    max-width: 400px;
    margin: 0 auto 10px; }
  .sign-in-form .signinBtn-links, .sign-up-form .signinBtn-links {
    margin: 0 auto; }

/****************************************************
PAGE - SIGN UP
*****************************************************/
.sign-up-bkimg {
  background: url("fitness-kicking.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px; }
  .sign-up-bkimg .signup-heading {
    margin-top: 0;
    padding-top: 300px;
    padding-left: 15px;
    color: #fff;
    font-family: "Raleway";
    font-size: 2.5em;
    text-align: left; }

.sign-up-form {
  margin-top: 0px; }
  .sign-up-form .signup-view1, .sign-up-form .signup-view2 {
    width: 100%;
    margin: 40px auto 0; }
    .sign-up-form .signup-view1 .continueBtn, .sign-up-form .signup-view2 .continueBtn {
      margin: 10px 0; }
  .sign-up-form .signup-view2 {
    display: none; }
    .sign-up-form .signup-view2 #user_bio {
      height: 100px; }

#signin-link {
  width: 100%;
  margin: 0 auto; }

/****************************************************
PAGE - INTERESTS FORM
*****************************************************/
.interests-bkimg {
  background: url("starting-blocks.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px; }
  .interests-bkimg .interests-copy-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 90px;
    width: auto;
    top: 255px; }
    .interests-bkimg .interests-copy-wrapper .interests-copy {
      padding: 3px 15px;
      color: white;
      font-family: "Raleway";
      font-size: 1.5em;
      text-align: left; }

.interests-wrapper {
  padding: 0;
  margin: 0;
  width: 100%; }
  .interests-wrapper .interests-form {
    width: 95%;
    margin: 0 auto; }
    .interests-wrapper .interests-form .interests-list {
      list-style: none;
      padding-left: 0;
      width: 95%;
      margin: 30px auto 0; }
      .interests-wrapper .interests-form .interests-list #interest_names_ {
        margin: 5px 10px 0 0;
        height: 20px;
        padding: 0; }
      .interests-wrapper .interests-form .interests-list li {
        display: inline-block;
        width: 110px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 5px 0 5px 5px;
        font-size: 0.8em;
        text-align: left; }
      .interests-wrapper .interests-form .interests-list li:nth-child(4n) {
        clear: left; }

/****************************************************
PAGE - NEW GOAL
*****************************************************/
.goal-wrapper {
  width: 90%;
  max-width: 400px;
  margin: 0 auto; }
  .goal-wrapper .goal-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px; }
    .goal-wrapper .goal-form .goal-body-input {
      height: 100px;
      margin-bottom: 15px; }
    .goal-wrapper .goal-form .skip-goal {
      float: right;
      margin-top: -10px;
      margin-right: 5px; }

/****************************************************
PAGE - USER PUBLIC PROFILE
*****************************************************/
.user_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  .user_wrapper .bio-wrapper {
    width: 100%;
    background-color: #485463;
    margin: 0;
    padding: 0;
    color: white; }
    .user_wrapper .bio-wrapper .profile-bio {
      width: 90%;
      margin: 0 auto;
      padding: 20px 0 10px; }
      .user_wrapper .bio-wrapper .profile-bio .profile-pic .profile-image {
        float: left;
        width: 30%;
        border: 4px solid #fff;
        border-radius: 5px; }
      .user_wrapper .bio-wrapper .profile-bio .user-info {
        float: left;
        width: 60%;
        margin-left: 15px; }
        .user_wrapper .bio-wrapper .profile-bio .user-info .user_name {
          margin: 0 0 5px;
          font-size: 1.5em; }
    .user_wrapper .bio-wrapper .user-bio {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 10px;
      font-size: 0.95em; }
  .user_wrapper .user-nav {
    width: 100%;
    margin: 0 auto;
    background-color: #f5f6f5; }
    .user_wrapper .user-nav ul {
      list-style: none;
      padding-left: 0;
      width: 100%;
      margin: 0 auto; }
      .user_wrapper .user-nav ul li {
        display: inline-block;
        width: 49.6%;
        text-align: center;
        padding: 5px 0; }
        .user_wrapper .user-nav ul li a {
          color: #485463; }
      .user_wrapper .user-nav ul .active {
        background-color: #ffd100; }
        .user_wrapper .user-nav ul .active a {
          color: #485463; }
  .user_wrapper .user-posts-section .user_posts {
    width: 90%;
    margin: 20px auto; }
    .user_wrapper .user-posts-section .user_posts .post_body {
      width: 100%;
      height: 60px;
      margin: 0 auto;
      padding: 3px;
      border-radius: 5px 5px 0 0; }
    .user_wrapper .user-posts-section .user_posts .post_tag {
      width: 100%;
      height: 25px;
      font-size: 0.8em;
      padding: 3px;
      margin-bottom: 5px;
      border-radius: 0 0 5px 5px;
      border-top: none; }
    .user_wrapper .user-posts-section .user_posts .add-image-btn, .user_wrapper .user-posts-section .user_posts .add-video-btn {
      height: 20px;
      font-size: 0.8em;
      padding: 2px 4px;
      display: inline-block;
      margin-bottom: 10px; }
    .user_wrapper .user-posts-section .user_posts .choose-file-btn {
      display: none; }
      .user_wrapper .user-posts-section .user_posts .choose-file-btn .post-avatar {
        display: inline-block;
        margin-top: 4px; }
    .user_wrapper .user-posts-section .user_posts .choose-vid-file {
      display: none; }
      .user_wrapper .user-posts-section .user_posts .choose-vid-file .embed-video {
        display: block;
        font-size: 0.8em;
        margin-top: 5px;
        width: 300px;
        height: 20px;
        border-radius: 3px;
        border: 1px solid #bbb; }
    .user_wrapper .user-posts-section .user_posts .postBtn {
      display: block;
      width: 70px;
      height: 25px;
      padding-top: 3px; }
  .user_wrapper .user-posts-section .user_posts_list {
    list-style: none;
    width: 90%; }
    .user_wrapper .user-posts-section .user_posts_list .post-user-avatar {
      display: inline-block;
      max-width: 50px;
      max-height: 50px; }
    .user_wrapper .user-posts-section .user_posts_list .post-info {
      display: inline-block;
      margin-left: 5px;
      font-size: 0.8em; }
      .user_wrapper .user-posts-section .user_posts_list .post-info .post-author {
        margin: 0; }
      .user_wrapper .user-posts-section .user_posts_list .post-info .post-created {
        margin: 0; }
    .user_wrapper .user-posts-section .user_posts_list .user_post_body {
      margin: 10px 0; }
    .user_wrapper .user-posts-section .user_posts_list .user_post_tag {
      margin: 10px 0; }
    .user_wrapper .user-posts-section .user_posts_list .user_post_image .post-image {
      width: 100%; }
    .user_wrapper .user-posts-section .user_posts_list .edit_user_post {
      text-align: right;
      margin-top: 10px; }

/****************************************************
PAGE - EDIT USER POSTS 
*****************************************************/
.edit_user_posts {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px; }
  .edit_user_posts .edit-post-header {
    display: inline-block; }
  .edit_user_posts .delete-post {
    display: inline-block;
    margin-left: 150px; }
  .edit_user_posts .post_body {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 3px;
    border-radius: 5px 5px 0 0; }
  .edit_user_posts .post_tag {
    width: 100%;
    height: 25px;
    font-size: 0.8em;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 0 0 5px 5px;
    border-top: none; }
  .edit_user_posts .add-image-btn, .edit_user_posts .user_wrapper .user-posts-section .user_posts .add-video-btn, .user_wrapper .user-posts-section .user_posts .edit_user_posts .add-video-btn, .edit_user_posts .add-video-btn {
    height: 20px;
    font-size: 0.8em;
    padding: 2px 4px;
    display: inline-block; }
  .edit_user_posts .choose-file-btn {
    display: none; }
    .edit_user_posts .choose-file-btn .post-avatar {
      display: inline-block;
      margin-top: 4px; }
  .edit_user_posts .choose-vid-file {
    display: none; }
    .edit_user_posts .choose-vid-file .embed-video {
      display: block;
      font-size: 0.8em;
      margin-top: 5px;
      width: 300px;
      height: 20px;
      border-radius: 3px;
      border: 1px solid #bbb; }
  .edit_user_posts .postBtn {
    margin-top: 10px; }

/****************************************************
PAGE - USER GOALS
*****************************************************/
.user-goals {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px; }
  .user-goals .user-goals-list {
    list-style: none;
    padding-left: 0; }
    .user-goals .user-goals-list .edit-goal-link {
      text-align: right;
      font-size: 0.8em; }

.add-goals {
  width: 90%;
  margin: 20px auto 0; }
  .add-goals .add-goal-btn {
    font-size: 2em;
    width: 35px;
    height: 35px;
    padding: 0 5px 15px; }
  .add-goals .user-goals-form {
    display: none;
    width: 100%;
    margin: 10px auto 0; }
    .add-goals .user-goals-form .skip-goal {
      display: none; }
    .add-goals .user-goals-form .goalsBtn {
      margin-top: 10px; }

/****************************************************
PAGE - EDIT USER GOALS
*****************************************************/
.edit_user_goals {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px; }
  .edit_user_goals .goal-body-input {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 3px;
    border-radius: 5px; }
  .edit_user_goals .edit-goalsBtn {
    margin-top: 10px; }

/****************************************************
PAGE - HOME
*****************************************************/
.user-show-title {
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 0;
  background-color: #485463; }

.user-index-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #485463; }
  .user-index-wrapper .user-feed {
    width: 95%;
    max-width: 530px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px; }
    .user-index-wrapper .user-feed .post-user-avatar {
      display: inline-block;
      max-width: 50px;
      max-height: 50px; }
    .user-index-wrapper .user-feed .post-info {
      display: inline-block;
      margin-left: 5px;
      font-size: 0.8em; }
      .user-index-wrapper .user-feed .post-info .post-author {
        margin: 0; }
      .user-index-wrapper .user-feed .post-info .post-created {
        margin: 0; }
    .user-index-wrapper .user-feed .user_post_body {
      margin-top: 10px; }
    .user-index-wrapper .user-feed .user_post_tag {
      margin-bottom: 10px; }
    .user-index-wrapper .user-feed .post-image {
      width: 100%; }

/****************************************************
PAGE - EXPLORE (INTERESTS)
*****************************************************/
.explore-container {
  background-color: #485463;
  height: 800px; }

.explore-title {
  font-size: 2em;
  padding-top: 5px;
  margin: 0; }

.user-interests {
  width: 95%;
  margin: 40px auto 0; }
  .user-interests .user-interests-list {
    list-style: none;
    padding-left: 0; }
    .user-interests .user-interests-list li {
      text-align: center;
      margin-bottom: 20px; }

#accordian {
  background: #485463;
  width: 100%;
  color: #f5f6f5;
  /*Some cool shadow and glow effect*/ }

/*heading styles*/
#accordian h3 {
  line-height: 50px;
  font-size: 1.5em;
  font-family: "Raleway";
  padding: 0 10px;
  margin: -20px 0;
  cursor: pointer;
  /*fallback for browsers not supporting gradients*/
  background: linear-gradient(#ffd100, #c28d00); }

#accordian ul {
  padding: 0; }

/*heading hover effect*/
#accordian h3:hover {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.7); }

/*list items*/
#accordian li {
  list-style-type: none; }

/*links*/
#accordian ul ul li {
  color: #485463;
  text-decoration: none;
  font-size: 1em;
  text-align: left;
  line-height: auto;
  display: block;
  padding: 20px 0 0;
  margin: 20px 0;
  /*transition for smooth hover animation*/
  transition: all 0.15s;
  background-color: #fff; }

/*Lets hide the non active LIs by default*/
#accordian ul ul {
  display: none; }

#accordian li.active ul {
  display: block; }

.interest-post-feed {
  list-style: none;
  padding-left: 0; }
  .interest-post-feed .interest-post {
    width: 100%; }
    .interest-post-feed .interest-post .post-user-avatar {
      max-height: 50px;
      max-width: 50px;
      display: inline-block;
      margin-left: 20px; }
    .interest-post-feed .interest-post .post-info {
      display: inline-block;
      margin-left: 10px;
      font-size: 0.8em;
      line-height: 0.7; }
    .interest-post-feed .interest-post .user_post_body {
      margin: 10px 0 0px 20px; }
    .interest-post-feed .interest-post .user_post_tag {
      margin: 10px 0 0px 20px; }
    .interest-post-feed .interest-post .post-image {
      width: 100%; }
