@media (min-width: 768px) { 
	body{
		background: grey;
	}
} // @media small //

@media (min-width: 992px) {
	body{
		background: #fff;
	}
}

@media (min-width: 1200px) {
	body{
		background: grey;
	}
}