$font-family: 'Open Sans';
$secondary-font-family: 'Raleway';
$primary-color: #fff;
$secondary-color: #94ADCC;
$tertiary-color: #485463;
$primary-background-color: #485463;
$secondary-background-color: #DDE1DC;
$tertiary-background-color: #FFD100;
$quaternary-background-color: #EAEBEA;

@media (max-width: 767px) {

	/****************************************************
	PAGE - HOME
	*****************************************************/

	.user-index-wrapper{
		.following-side-menu{
			display: none;
		}
	}
	

	/****************************************************
	PAGE - USER PUBLIC PROFILE
	*****************************************************/

	.user-following-side-menu{
		display: none;	
	}


	/****************************************************
	PAGE - USER GOALS
	*****************************************************/
	.goals-following-side-menu{
		display: none;
	}
	
	.add-goals{
		.user-goals-form{
			.goalsBtn{
				display: block;
				margin-top: 30px;
			}
		}
	}

	/****************************************************
	PAGE - EXPLORE
	*****************************************************/

	.interest-divs{
		display: none;
	}

} // @media xsmall //

@media (min-width: 768px) {

	/****************************************************
	PAGE - HOME
	*****************************************************/

	.user-index-wrapper{
		width: 95%;
		margin: 0 auto;
		.following-side-menu{
			margin: 0 2% 0 0;
			float: left;
			width: 26%;
			height: 800px;
			max-width: 225px;
			background-color: #fff;
			border-radius: 5px;
			border-right: 1px solid $quaternary-background-color;
			.follow{
				padding: 0 10px;
				ul{
					list-style: none;
					padding-left: 10px;
					li{
						display: inline-block;
						margin: 5px;
						.follow-avatar{
							max-width: 30px;
							max-height: 30px;
						}
					}
				}
			}
			.follow-hr{
				width: 95%;
			}
		}
		.user-feed{
			float: left;
			width: 68%;
			max-width: 600px;
			margin-left: 80px;
		}
	}

	/****************************************************
	PAGE - USER PUBLIC PROFILE
	*****************************************************/

	.user_wrapper{
		.bio-wrapper{
			.profile-bio{
			}
			.user-bio{
			}
		}
		.user-following-side-menu{
			margin: 0 2%;
			float: left;
			width: 26%;
			max-width: 225px;
			background-color: #fff;
			border-radius: 5px;
			.follow{
				padding: 0 10px;
				ul{
					list-style: none;
					padding-left: 10px;
					li{
						display: inline-block;
						margin: 5px;
						.follow-avatar{
							max-width: 30px;
							max-height: 30px;
						}
					}
				}
			}
			.follow-hr{
				width: 95%;
			}
		}
		.user-posts-section{
			width: 70%;
			border-left: 1px solid $quaternary-background-color;
			float: left;
			.user-nav{
			}
			.user_posts{
			}
			.user_posts_list{
				max-width: 500px;
				.post-user-avatar{
				}
				.post-info{
				}
				.user_post_body{
				}
				.user_post_tag{
				}
				.user_post_image{
				}
				.edit_user_post{
				}
			}
		}
	}
	

	/****************************************************
	PAGE - EDIT POSTS
	*****************************************************/

	.edit_user_posts{
		max-width: 500px;
		.postBtn{
			max-width: 500px;
		}
	}


	/****************************************************
	PAGE - USER GOALS
	*****************************************************/

	.goals-following-side-menu{
		margin: 0 2%;
		float: left;
		width: 26%;
		max-width: 225px;
		background-color: #fff;
		border-radius: 5px;
		.follow{
			padding: 0 10px;
			ul{
				list-style: none;
				padding-left: 10px;
				li{
					display: inline-block;
					margin: 5px;
					.follow-avatar{
						max-width: 30px;
						max-height: 30px;
					}
				}
			}
		}
		.follow-hr{
			width: 95%;
		}
	}

	.user-goals{
		width: 70%;
		float: left;
		border-left: 1px solid $quaternary-background-color;
		border-right: 1px solid $quaternary-background-color;
		.user-goals-list{
			li{
			}
			.goal-created{
			}
			.goal-body{
			}
			.update-progress{

			}
			.edit-goal-link{
			}
		}
	}


	/****************************************************
	PAGE - EXPLORE
	*****************************************************/

	#accordian{
		display: none;
	}

	.interest-section{
		width: 100%;
		margin: 0 auto;
		.interest-divs{
			width: 45%;
			max-width: 500px;
			height: 400px;
			float: left;
			border-radius: 5px;
			border: 1px solid $quaternary-background-color;
			margin: 1.5% 2.5%;
			overflow-y: scroll;
			h3{
				background-color: $tertiary-background-color;
				color: #fff;
				text-align: center;
				font-family: $secondary-font-family;
				border-radius: 5px 5px 0 0;
				padding: 5px 3px 3px;
				margin: 0;
				position: absolute;
				width: 45%;
				max-width: 500px;
			}
			.interest-post-feed{ //ul//
				margin-top: 50px;
				.interest-post{ //li//
					.post-image{
						width: 90%;
						margin: 10px 5% 0;
					}
				}
			}
		}
	}

} // @media small //

@media (min-width: 992px) {

	/****************************************************
	PAGE - HOME
	*****************************************************/

	.user-index-wrapper{
		.user-feed{
		}
	}

	/****************************************************
	PAGE - USER PUBLIC PROFILE
	*****************************************************/

	.user_wrapper{
		.bio-wrapper{
			.profile-bio{
			}
			.user-bio{
			}
		}
		.user-following-side-menu{
			margin: 0 2%;
			float: left;
			width: 26%;
			max-width: 225px;
			background-color: #fff;
			border-radius: 5px;
			.follow{
				padding: 0 10px;
				ul{
					list-style: none;
					padding-left: 10px;
					li{
						display: inline-block;
						margin: 5px;
						.follow-avatar{
							max-width: 30px;
							max-height: 30px;
						}
					}
				}
			}
			.follow-hr{
				width: 95%;
			}
		}
		.user-posts-section{
			width: 70%;
			border-left: 1px solid $quaternary-background-color;
			border-right: 1px solid $quaternary-background-color;
			float: left;
			.user-nav{
			}
			.user_posts{
			}
			.user_posts_list{
				max-width: 500px;
				.post-user-avatar{
				}
				.post-info{
				}
				.user_post_body{
				}
				.user_post_tag{
				}
				.user_post_image{
				}
				.edit_user_post{
				}
			}
		}
	}

	/****************************************************
	PAGE - USER GOALS
	*****************************************************/

	.goals-following-side-menu{
		margin: 0 2%;
		float: left;
		width: 26%;
		max-width: 225px;
		background-color: #fff;
		border-radius: 5px;
		.follow{
			padding: 0 10px;
			ul{
				list-style: none;
				padding-left: 10px;
				li{
					display: inline-block;
					margin: 5px;
					.follow-avatar{
						max-width: 30px;
						max-height: 30px;
					}
				}
			}
		}
		.follow-hr{
			width: 95%;
		}
	}

	.user-goals{
		width: 70%;
		float: left;
		border-left: 1px solid $quaternary-background-color;
		border-right: 1px solid $quaternary-background-color;
		.user-goals-list{
			li{
			}
			.goal-created{
			}
			.goal-body{
			}
			.update-progress{

			}
			.edit-goal-link{
			}
		}
	}

} // @media medium //

@media (min-width: 1200px) {
	
	/****************************************************
	PAGE - HOME
	*****************************************************/
	
	.user-index-wrapper{
		.user-feed{
		}
	}

} // @media large //
































